@font-face {
    font-family: "Anybody";
    src: url(fonts/Anybody-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Bg-stencil";
    src: url(fonts/BigShouldersStencilDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Bg-text";
    src: url(fonts/BigShouldersText-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Expletus";
    src: url(fonts/ExpletusSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Gothic";
    src: url(fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
    font-family: "Tektur";
    src: url(fonts/Tektur-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Prism";
    src: url(fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

.txt1 {
    color: #F5F5DC;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    /*yeni eklediğimiz font:*/
    font-family: prism;    
}