body {
    text-align: left;
    background-color: wheat;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    /* width düzgün çalışmayacaktır çünkü içine sağ sol paddinglerini de ekleyecek.
    engellemek için bu kod kullanılır aman dikkat!*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: solid darkgreen 2px;
    display: block;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: fit-content;
}

.container2 {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

#input-btn {
    border: solid darkgreen 2px;
    font-weight: bolder;
    color: white;
    margin: 10px 5px;
    background-color: #5f9341;
    border-radius: 5px;
    padding: 5px 10px;
}

#tab-btn {
    border: solid darkgreen 2px;
    font-weight: bolder;
    color: white;
    margin: 10px 5px;
    background-color: #5f9341;
    border-radius: 5px;
    padding: 5px 10px;
}

#clear-btn {
    border: solid darkgreen 2px;
    font-weight: bolder;
    color: #5f9341;
    text-shadow: 0px 0px 1px #222222;
    margin: 10px 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.container1 hr {
    border: 2px dashed #5f9341;
    margin-top: 0px;
    display: flex;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0px 5px;
    margin-top: 10px;
}

li {
    margin-top: 10px;
}

/*sadece liste elemanlarının içindeki anchorları renklendir demek.*/
li a {
    color: #5f9341;
}
